.home-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .navbar {
    background-color: #1877f2; /* Facebook-like blue */
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .main-content {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    width: 93%;
    background-color: #f0f2f5; /* Light gray */
    padding: 10px;
  }
  
  .feed {
    flex: 1;
    background-color: white;
    padding: 10px;
  }
  
  .widgets {
    width: 100%;
    background-color: #f0f2f5; /* Light gray */
    padding: 10px;
  }